<p>This is the partial for mapreduce view.</p>

Jobs

<table>
    <tr>
        <td><b>ID</b></td>
        <td><b>Inputs</b></td>
        <td><b>Mapped</b></td>
        <td><b>Reduced</b></td>
        <td><b>Fetched</b></td>
    </tr>
    <tbody ng-repeat="job in jobs">
        <tr>
        <td width="300px">{{job.id}}</td>
        
        <td width="100px">{{job.input_count}}</td>
        <td width="100px">{{job.mapped_count}} </td>
        <td width="100px">{{job.reduced_count}}</td>
        <td width="100px">{{job.result_count}} </td>
        </tr>
        
        <tr>
            <td>Progress</td>
            <td></td>
            <td><div style="background: #00ff00; width: {{100*job.mapped_count/job.input_count}}px">&nbsp;</div></td>
            <td><div style="background: #00ff00; width: {{100*job.reduced_count/job.input_count}}px">&nbsp;</div></td>
            <td><div style="background: #00ff00; width: {{100*job.result_count/job.input_count}}px">&nbsp;</div></td>
        </tr>
    <tbody>
</table>
