<h2>Jobs</h2>

<table class="table table-hover">
    <tr>
        <td><b>ID</b></td>
        <td><b>Inputs</b></td>
        <td><b>Mapped</b></td>
        <td><b>Reduced</b></td>
        <td><b>Fetched</b></td>
        <td><b>Expires</b></td>
    </tr>
    <tr ng-repeat="job in jobs">
        <td width="300px">{{job.id}}</td>
        <td width="100px">
            {{job.input_count}} ({{job.input_percent}}%)
            <div class="progress">
                <div class="bar" style="width: {{job.input_percent}}%">&nbsp;</div>
            </div>
        </td>
        <td width="100px">
            {{job.mapped_count}} ({{job.mapped_percent}}%)
            <div class="progress">
                <div class="bar" style="width: {{job.mapped_percent}}%">&nbsp;</div>
            </div>
        </td>
        <td width="100px">
            {{job.reduced_count}} ({{job.reduced_percent}}%)
            <div class="progress">
                <div class="bar" style="width: {{job.reduced_percent}}%">&nbsp;</div>
            </div>
        </td>
        <td width="100px">
            {{job.result_count}} ({{job.result_percent}}%)
            <div class="progress">
                <div class="bar" style="width: {{job.result_percent}}%">&nbsp;</div>
            </div>
        </td>
        <td>{{ job.expires < 0 ? ' ' : job.expires }}</td>
    </tr>
</table>
